Description=uWSGI Emperor service

[Service]
ExecStartPre=/bin/bash -c 'mkdir -p /home/sats/projects/lost_goods/src/config; chown jurgeon:www-data /home/sats/projects/lost_goods/src/config'
ExecStart=/usr/local/bin/uwsgi --emperor /home/sats/projects/lost_goods/src/config 
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target